


.TATAPOW{ font-style: italic ; font-size: 1cm}
#TATA{color: cornflowerblue}
#POW{color: rgb(187, 20, 220)}
body{ background-image: url(file:///C:/Users/user/Desktop/Najla/nyu/thumb-1920-657790.png); 
    background-repeat: no-repeat ; margin: 2.5cm ; 
}
#nawara{ width: 7cm ; float: left ; }
.classI{ float: right; width: 5cm ;
     background-color: rgba(137, 43, 226, 0.295) ;
      width: 7cm ; font-family: Arial, Helvetica, sans-serif ; color: aqua
; margin-right: 7cm }
#racee{color: blueviolet ; background-color:rgba(81, 255, 246, 0.37)  ;
}
#nyu{color: blueviolet ; background-color: rgba(137, 245, 245, 0.514)}

#ta{ color: blueviolet ; background-color: rgba(137, 245, 245, 0.514)}
#taa{color: blueviolet ; background-color: rgba(137, 245, 245, 0.514)}
#submit{color: blueviolet ; background-color: rgba(137, 245, 245, 0.514)}